*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: arial,sans-serif;
}
a{
    color: white;
    text-decoration:none;
    cursor: pointer;
}
/*Header*/
header{
    height: 100vh;
    background-color: #276a8b; 
}
/*nav*/
.nav{
    height: 10vh; 
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
    background-color:#21749d; 
}
.Dnk{
    width: 50px;
    
}
.navLinks{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.nav1,.nav2{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.nav1>a,.nav2>a{
    color: white;
}
.hero{
    width: 90vw;
    margin-left: auto ;
    display:flex;
    justify-content: space-between;
}
 .lefthero{
    display: flex;
    flex-direction: column;
    height: 90vh;
    display: flex;
    justify-content: center;
 }
 .lefthero>h1{
    font-size: 65px;
    font-weight: 700;
 }
.lefthero>h4 {
    font-size:35px;
}
.button{
    display: flex;
}
button{
    margin-top: 0px;
    width:100px;
    display: flex;
    padding: 10px;

}
.find{
    margin-left: 20px;
    border-style: solid;
    padding: 10px;
    width: 100px;
}
.page2{
    height: 100vh;
    background-color:white;   
}
.logo{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 4px;
}
.Flex{
    background-color:white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}
#first_i, #second_i, #third_i{
    height: 400px;
    width: 350px;
}
.col-3{
    height: 33vh;
    background-color: aqua;
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.categories{
    margin: 70px;

}
.col-3img{
    width:100%;
}
